@import './vars';
@import './mixin';
@media screen and(max-width:$width-medium){
	
}
@media screen and(max-width:$width-small){
	.container {
		width:auto;
		padding:0;
		.user_logout{
			right:40px !important;
		}
		.left_cont{
			position:fixed;
			left:-300px;
			z-index:2000;
			top:0;bottom:0;
			opacity:0;
			transition:all .3s ease;
		}
		.menu_active{
			left:0;
			opacity:1;
		}
		.content-container{
			width:90%;
			margin:0 auto;
		}
		.nav_header{
			display:block;
			height:74px;
			.dispa{
				a{
					i{
						line-height:74px;
					}
				}
				 .my-titles{
				 	strong{
				 		line-height:74px;
				 	}
				 }
			}
		}
	}
	.userinfo{
		height:150px !important;
	}
	.el-message-box{
		width:auto !important;
	}
}
@media screen and(max-width:$width-extra){
	.title{font-size:16px;}
	.logout{display:block !important;}
	.container {
		.left_cont{
			opacity:.94;
			background:#1992aa !important;
			.logo{
				height:55px;
				.title_bt{
					display:block;
				}	
				img{
					display:none;
				}
			}
			.menu{
				li{
					background:#1992aa;
					font-size:16px;
					line-height:55px;
					.fa-sitemap,.fa-home{
						font-size:18px;
					}
				}
				.is-active{
					background:#00414f;
				}
			}
		}
		.userinfo{
			height:120px !important;
		}
		.nav_header{
			height:auto !important;
		}
		.userinfo-inner{font-size:16px !important;}
		.fa-user-circle{font-size:18px !important;}
		.user_logout a{display:none;}
		.userinfo-inner:before{
			top:7px !important;;
		}
		.dispa{
			a{
				width:70px !important;
				flex:0 0 70px !important;
				i{
					font-size:24px !important;
				}
			}
			strong,i{
	    		font-size:18px !important;
	    		line-height:55px !important;
	    	}
		}
	}
	.home{
		.pics{
			width:100%;
			img{
				display:block !important;
				width:100%;
				height:100%;
			}
		}
	}
	.comm_list{
		padding:0 !important;
		.box-solid{
			margin-bottom:15px;
		}
	}
}