@import '../../styles/mixin';
@import '../../styles/media_home';
.order_list{padding:0px 0px;margin-top:20px;}
.orders{
	.order_number{
		float:right;
		font-size:14px;
		margin-right:10px;
	}
}
.t1{
	color: #00515e;
}
.t2{
    color: #0086a1;
}
.t3{
    color: #e7463a;
}
.span{font-size:12px;line-height:36px;}
.el-select,{
    width:40%;}
	.el-button{
		@include box-shadow(0px -2px 0px #00414f inset);
		@include line-height(16px);
		transition:all .3s ease;
		&:hover{
		@include box-shadow(0px -2px 0px #0086a1 inset);
		}
	}
	.el-button_2{
		@include box-shadow(0px -2px 0px #cccccc inset);
		@include line-height(16px);
		transition:all .3s ease;
		&:hover{
		@include box-shadow(0px -2px 0px #e6e6e6 inset);
		}
	}
.item1{
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto 20px auto 20px;
    background: #e7463a;
    padding: 3px 5px;
    color: #fff;
}

.item2{
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto 20px auto 20px;
    background: #999999;
    padding: 3px 5px;
    color: #fff;
}

.item3{
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto 20px auto 20px;
    background: #cccccc;
    padding: 3px 5px;
    color: #fff;
}