@import '../../styles/mixin';
@import '../../styles/media_home';
.comm_list{padding:0px 0px;margin-top:20px;}
.commodity_number{
	line-height:0px !important;
	padding:20px 0px;
	.number_add{
		margin:10px 0px 0px;
		width:100%;
	}
}


.fa-plus-circle,.fa-shopping-cart{
	margin:0 5px;
}
.el-select,{
	width:100%;
}
.el-button{
    width:100%;
	height:46px;
	@include background(#ff6660);
	border:#ff6660 1px solid;
	margin:0px 0px;
	@include box-shadow(0px -2px 0px #e73c46 inset);
	&:hover{
		opacity:.9;
	}
}
.table{
    	text-align: center;
}
.span{font-size:12px;line-height:36px;}
.t1{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #ff6660;
}
.t2{
	color: #0086a1;
}