@import './mixin';
@import './common';
 #login_box{
    width:100%;
    height:100%;
    background:rgba(0,98,117,.98);
  }
  .login-container {
    /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);*/
    background-clip: padding-box;
    margin: 0 auto;
    max-width: 660px;
    overflow:hidden;
    background: #fff;
    @include radius($number:8px)
    position:relative;
    top:180px;
    transition:all .3s ease;
    .el-button+.el-button{
      margin:0px 0px 37px 0px;
    }
    .by_logo{
      height:80px;
      width:100%;
      padding-top:20px;
      @include gradient(#005361,#0085a0);
        span{
          width:200px;
          height:62px;
          margin:0 auto;
          display:block; 
          background:url('../../assets/images/logo.png');
        }
    }
    .el-form-item{
      margin-bottom:10px;
    }
    .form_el{padding:40px 112px 0px;}
    .remember {
      margin-top:15px;
    }
    .el-button{
      margin-bottom:10px;
      line-height:64px;
      font-size:24px;
      border:solid 1px rgba(255,255,255,0);
      @include box-shadow(0px -2px 0px #00414f inset);
      transition:all .3s ease;
      &:hover{
        @include box-shadow(0px -2px 0px #0086a1 inset);
      };
    }
  }