@import './vars';
@import './mixin';
@media screen and(max-width:$width-medium){

}
@media screen and(max-width:$width-small){

}
@media screen and(max-width:$width-extra){
	.demo-ruleForm{
		width:90%;
		top:72px;
		@include radius(5px);
		.by_logo{
			height:65px;
			padding-top:5px;
			 span{
			 	width:142px;
			 	height:42px;
			 	margin-top:8px;
				@include retinize('logo1','png',142px,42px);
			 }
		}
		.form_el{
			padding:10px 35px 0px;
		}
		.el-form-item{
			margin-top:10px;
		}
		.el-button{line-height:40px;font-size:14px;@include radius(3px);}
		.el-button + .el-button{
			margin:0px 0px 15px 0px;
		}
	}
}
